# --------------------
# OS or Editor folders
# --------------------
.DS_Store
Thumbs.db


# ---
# APP
# ---
node_modules/
platforms/
plugins/
www/build/
*.swp


# -----------
# CREDENTIALS
# -----------
.io-config.json
