<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
        <ion-title>Posts</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="data">
        <ion-card *ngFor="let post of data.posts" (click)="itemTapped($event, post)">
            <ion-card-content>
                <h2>{{post.author}}</h2>
                <p>{{post.publishedAt | date:'short'}}</p>
                <h1>{{post.title}}</h1>
                <small>{{post.tags | json}}</small>
            </ion-card-content>
        </ion-card>
        <footer padding>
            <small>{{data.metadata | json}}</small>
        </footer>
    </div>
</ion-content>
