<!-- 
https://build.phonegap.com/docs/config-xml
-->
<?xml version="1.0" encoding="UTF-8" ?>
    <!-- 
    versionCode: is optional and Android only
    -->
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.illarra.zarautz.munoa"
        versionCode = "1" 
        version     = "0.0.1">

    <!-- 
    App description
    -->
    <name>Zarautz</name>
    <description>Zarautz app description</description>
    <author href="http://illarra.com" email="team@illarra.com">illarra</author>
</widget>