<!-- 
https://build.phonegap.com/docs/config-xml
-->
<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.illarra.zarautz.munoa"
        versionCode = "@@versionCode" 
        version     = "@@version">

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation" value="portrait" />
    <!-- Android -->
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="14" />
    <!-- iOS -->
    <preference name="prerendered-icon" value="true" />

    <!-- 
    App description
    -->
    <name>Zarautz</name>
    <description>Official application of the City of Zarautz. A must-have to know what's going on in our town and discover its charms. News and up to the minute events calendar and a complete catalog of all the places you can find in Zarautz when you come to visit us.</description>
    <author href="http://illarra.com" email="team@illarra.com">illarra</author>

    <!--
    Permissions
    -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <!--
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    -->

    <!-- 
    Splash Screen
    The splash screen for both platforms must be hidden via javascript
    on the "deviceready" event.

    http://developer.android.com/guide/practices/screens_support.html#testing
    https://github.com/phonegap/phonegap/wiki/App-Splash-Screen-Sizes
    http://fusiongrokker.com/post/phonegap-build-splash-screen-sizes-xml-ref
    -->
    <!-- Android -->
    <preference name="splash-screen-duration" value="60000" />
    <gap:splash src="images/splash/android/200x320.png" gap:platform="android" gap:density="ldpi"  /><!-- width="320" height="426" -->
    <gap:splash src="images/splash/android/320x480.png" gap:platform="android" gap:density="mdpi"  /><!-- width="320" height="470" -->
    <gap:splash src="images/splash/android/480x800.png" gap:platform="android" gap:density="hdpi"  /><!-- width="480" height="640" -->
    <gap:splash src="images/splash/android/720x1280.png" gap:platform="android" gap:density="xhdpi" /><!-- width="720" height="960" -->
    <!-- iOS -->
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <gap:splash src="images/splash/ios/480x320.png"   gap:platform="ios" width="320"  height="480"  /><!-- Regular iPhone4 -->
    <gap:splash src="images/splash/ios/640x960.png"   gap:platform="ios" width="640"  height="960"  /><!-- Retina iPhone4 -->
    <gap:splash src="images/splash/ios/640x1136.png"  gap:platform="ios" width="640"  height="1136" /><!-- iPhone5 -->
    <gap:splash src="images/splash/ios/768x1004.png"  gap:platform="ios" width="768"  height="1004" /><!-- iPad Portrait -->
    <gap:splash src="images/splash/ios/1024x748.png"  gap:platform="ios" width="1024" height="748"  /><!-- iPad Landscape -->
    <gap:splash src="images/splash/ios/1536x2008.png" gap:platform="ios" width="1536" height="2008" /><!-- Retina iPad: Portrait -->
    <gap:splash src="images/splash/ios/2048x1496.png" gap:platform="ios" width="2048" height="1496" /><!-- Retina iPad: Landscape -->

    <!-- 
    Icons
    -->
    <!-- Android -->
    <icon src="images/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="images/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="images/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="images/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="images/icons/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
    <!-- iOS -->
    <icon src="images/icons/ios/57.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/icons/ios/72.png" gap:platform="ios" width="72" height="72" />
    <icon src="images/icons/ios/57@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="images/icons/ios/72@2x.png" gap:platform="ios" width="144" height="144" />

    <!--
    Allow access to zarautz.org
    -->
    <!--
    <access origin="http://zarautz.org" subdomains="true" browserOnly="true" />
    -->
    <!--
    <access origin="http://google.com" subdomains="true" browserOnly="true" />
    <access origin="http://googleapis.com" subdomains="true" browserOnly="true" />
    <access origin="http://gstatic.com" subdomains="true" browserOnly="true" />
    -->
    <access origin="*" browserOnly="true" />
</widget>