<!-- 
https://build.phonegap.com/docs/config-xml
-->
<?xml version="1.0" encoding="UTF-8" ?>
    <!-- 
    versionCode: is optional and Android only
    -->
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.illarra.zarautz.munoa"
        versionCode = "1" 
        version     = "0.0.1">

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="android-minSdkVersion" value="8" />

    <!-- 
    App description
    -->
    <name>Zarautz</name>
    <description>Zarautz app description</description>
    <author href="http://illarra.com" email="team@illarra.com">illarra</author>

    <!-- 
    Icons
    -->
    <icon src="images/icons/ios/57.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/icons/ios/72.png" gap:platform="ios" width="72" height="72" />
    <icon src="images/icons/ios/57@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="images/icons/ios/72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="images/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="images/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="images/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="images/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="images/icons/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

    <!--
    Allow access to zarautz.org
    -->
    <!--
    <access origin="http://zarautz.org" subdomains="true" browserOnly="true" />
    -->

</widget>