<!doctype html>
<html ng-app="munoa">
    <head>
        <!-- build:css styles/styles.css -->
        <link rel="stylesheet" href="styles/styles.css">
        <!-- endbuild -->
        <!-- build:js scripts/enhancement.js -->
        <script src="styles/modernizr.custom.js"></script>
        <script src="components/overthrow/dist/overthrow.js"></script>
        <!-- endbuild -->
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <title>Zarautz</title>
    </head>
    <body ng-class="{ 'active-menu': navCtrl.menu.isActive() }" ng-controller="NavigationController as navCtrl">

        <div ng-show="$root.loading" style="
            border-radius: 100px;
            text-align: center;
            line-height: 100px;
            z-index: 999999;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            height: 100px;
            width: 100px;
            background-color: red;
        ">Loading</div>

        <main ng-view></main>
        <nav class="overthrow">
            <ul class="drawer">
                <li ng-repeat="item in navCtrl.menu.getItems()">
                    <a href ng-click="navCtrl.openSection(item.path)" ng-class="navCtrl.getClassForPath(item.path, 'active')" class="{{ item.id }}">
                        <i class="{{ item.icon }}"></i>{{ item.id|translate }}
                    </a>
                </li>
            </ul>
        </nav>
        <!--<aside></aside>-->

        <!-- phonegap bridge -->
        <script src="phonegap.js"></script>
        <!-- build:js scripts/scripts.js -->
        <!-- el orden de los factores altera el producto -->
        <!-- bower -->
        <script src="components/store.js/json.js"></script>
        <script src="components/store.js/store.js"></script>
        <script src="components/unstable-angular-complete/angular.js"></script>
        <script src="components/unstable-angular-complete/angular-resource.js"></script>
        <script src="components/unstable-angular-complete/angular-mobile.js"></script>
        <script src="components/unstable-angular-complete/angular-sanitize.js"></script>
        <!-- app -->
        <script src="scripts/init.js"></script>
        <script src="scripts/catalogue.js"></script>
        <script src="scripts/service/babel.js"></script>
        <script src="scripts/service/cache.js"></script>
        <script src="scripts/service/event.js"></script>
        <script src="scripts/service/forecast.js"></script>
        <script src="scripts/service/weatherCode.js"></script>
        <script src="scripts/service/menu.js"></script>
        <script src="scripts/service/post.js"></script>
        <script src="scripts/service/setting.js"></script>
        <script src="scripts/controller/event.js"></script>
        <script src="scripts/controller/forecast.js"></script>
        <script src="scripts/controller/navigation.js"></script>
        <script src="scripts/controller/post.js"></script>
        <script src="scripts/controller/settings.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/run.js"></script>
        <!-- endbuild -->

        <!-- 
        Remote Inspect
        http://debug.phonegap.com/client/#zarautz.munoa
        -->
        <!--
        <script src="http://debug.phonegap.com/target/target-script-min.js#zarautz.munoa"></script>
        -->
    </body>
</html>
