<!doctype html>
<html ng-app="munoa">
    <head>
        <!-- build:css styles/styles.css -->
        <link rel="stylesheet" href="styles/styles.css">
        <!-- endbuild -->
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <title>Zarautz</title>
    </head>
    <body ng-class="{ 'active-menu': navCtrl.menu.isActive() }" ng-controller="NavigationController as navCtrl">

        <main ng-view></main>
        <nav>
            <ul class="drawer">
                <li ng-repeat="item in navCtrl.menu.getItems()">
                    <a href ng-click="navCtrl.openSection(item.path)" ng-class="navCtrl.getClassForPath(item.path, 'active')" class="{{ item.id }}">
                        <i class="{{ item.icon }}"></i>{{ item.id|translate }}
                    </a>
                </li>
            </ul>
            <ul class="drawer" style="margin-top:40px">
                <li>
                    <a href ng-click="navCtrl.toggleProfile()"><i class="icon-cog color-red"></i>Now {{ navCtrl.menu.getProfile() }}</a>
                </li>
            </ul>
        </nav>
        <aside></aside>

        <!-- build:js scripts/scripts.js -->
        <!-- el orden de los factores altera el producto -->
        <!-- bower -->
        <script src="components/unstable-angular-complete/angular.js"></script>
        <script src="components/unstable-angular-complete/angular-resource.js"></script>
        <script src="components/unstable-angular-complete/angular-mobile.js"></script>
        <!-- app -->
        <script src="scripts/init.js"></script>
        <script src="scripts/catalogue.js"></script>
        <script src="scripts/controller/event.js"></script>
        <script src="scripts/controller/navigation.js"></script>
        <script src="scripts/controller/setting.js"></script>
        <script src="scripts/service/babel.js"></script>
        <script src="scripts/service/event.js"></script>
        <script src="scripts/service/menu.js"></script>
        <script src="scripts/service/setting.js"></script>
        <script src="scripts/config.js"></script>
        <!-- endbuild -->

    </body>
</html>
