<section class="on-{{ navCtrl.activeView }}" ng-controller="EventController as eventCtrl">
    <div>
        <header>
            <a href ng-click="navCtrl.toggleMenu()"><i class="left icon-menu"></i></a>
            <i ng-if="!events.isLoaded" class="right icon-spin color-blue animate-spin"></i>
            <i ng-if="events.isLoaded && events.isError" class="right icon-spin" ng-click="navCtrl.reload()"></i>
            <i ng-if="events.isLoaded && !events.isError" class="right icon-search"></i>
            <h1 class="title">{{ 'events'|translate }}</h1>
        </header>
        <div class="overthrow">
            <div ng-if="events.isLoaded && events.isError">
                ERROR: {{ events }}
            </div>
            <div ng-if="events.isLoaded && !events.isError">
                <ul>
                    <li ng-repeat="event in events.data">
                        <a href ng-click="navCtrl.pushView('event.show', { 'event': event })">
                            {{ event.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-include="view2"></div>
</section>

<script type="text/ng-template" id="event.show">
    <header>
        <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
        <!--<i class="right icon-share"></i>-->
        <h1 class="title">{{ pushData.event.name }}</h1>
    </header>
    <div class="overthrow">
        <h1 class="title">
            {{ pushData.event.name }}
        </h1>
        {{ pushData.event.description }}
        <hr>
        <ul>
            <li>hasi: {{ pushData.event.startAt }}</li>
            <li>bukatu: {{ pushData.event.endAt }}</li>
        </ul>
    </div>
</script>
