<section class="on-{{ navCtrl.activeView }}" ng-controller="EventController as eventCtrl">
    <div>
        <header>
            <a href ng-click="navCtrl.toggleMenu()"><i class="left icon-menu"></i></a>
            <!--<i class="right icon-search"></i>-->
            <h1 class="title">{{ 'events'|translate }}</h1>
        </header>
        <div class="overthrow">
            <div ng-if="events.isLoading">
                Loading...
            </div>
            Loading: {{ events.isLoading }}<br/>
            Error: {{ events.isError }}<br/>
            From cache: {{ events.fromCache }}<br/>
            Old: {{ events.isOld }}<br/>
            <hr>
            Loading: {{ forecast.isLoading }}<br/>
            Error: {{ forecast.isError }}<br/>
            From cache: {{ forecast.fromCache }}<br/>
            Old: {{ forecast.isOld }}<br/>
            {{ forecast.data }}
            <hr>
            {{ today }}
            <!--
            <ul>
                <li ng-repeat="event in events.response.data">
                    <a href ng-click="navCtrl.pushView('event.show', { 'event': event })">
                        {{ event.name }}
                    </a>
                </li>
            </ul>
            -->
        </div>
    </div>
    <div ng-include="view2"></div>
</section>

<script type="text/ng-template" id="event.show">
    <header>
        <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
        <!--<i class="right icon-share"></i>-->
        <h1 class="title">{{ pushData.event.name }}</h1>
    </header>
    <div class="overthrow">
        <h1 class="title">
            {{ pushData.event.name }}
        </h1>
        {{ pushData.event.description }}
        <hr>
        <ul>
            <li>hasi: {{ pushData.event.startAt }}</li>
            <li>bukatu: {{ pushData.event.endAt }}</li>
        </ul>
    </div>
</script>
