<section class="on-{{ navCtrl.activeView }}" ng-controller="EventController as eventCtrl">
    <div>
        <header>
            <i ng-click="navCtrl.toggleMenu()" class="left icon-menu"></i>
            <i ng-if="eventCtrl.status.isLoading" class="right icon-spin color-blue animate-spin"></i>
            <i ng-if="!eventCtrl.status.isLoading" class="right icon-search"></i>
            <h1 class="title">{{ 'events'|translate }}</h1>
        </header>
        <div ng-if="eventCtrl.status.isDone && eventCtrl.status.isError" class="error">
            <p ng-click="eventCtrl.refresh()">
                <i class="right icon-spin"></i>
                {{ 'error.connection'|translate }}
                <strong>{{ 'error.retry'|translate }}.</strong>
            </p>
        </div>
        <div ng-if="!eventCtrl.status.isLoading" class="overthrow">
            <ul>
                <li ng-repeat="event in eventCtrl.events">
                    <a href ng-click="navCtrl.pushView('event.show', { 'event': event })">
                        {{ event.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-include="view2"></div>
    <div ng-include="view3"></div>
</section>

<script type="text/ng-template" id="event.show">
    <div ng-controller="EventViewController as eventViewCtrl">
        <header>
            <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
            <!--<i class="right icon-share"></i>-->
            <h1 class="title">{{ eventViewCtrl.event.name }}</h1>
        </header>
        <div class="overthrow">
            <h1 class="title">
                {{ eventViewCtrl.event.name }}
            </h1>
            {{ eventViewCtrl.event.description }}
            <hr>
            <ul>
                <li>hasi: {{ eventViewCtrl.event.startAt }}</li>
                <li>bukatu: {{ eventViewCtrl.event.endAt }}</li>
            </ul>
            <a ng-click="navCtrl.pushView('views/placeView.html', { id: 460 })">Test place view</a>
        </div>
    </div>
</script>
