<section class="on-{{ navCtrl.activeView }}" ng-controller="ForecastController as forecastCtrl">
    <div>
        <header>
            <a href ng-click="navCtrl.toggleMenu()"><i class="left icon-menu"></i></a>
            <h1 class="title">{{ 'forecast'|translate }}</h1>
        </header>
        <div class="overthrow">
            <p class="text-smallest text-center">
                {{ forecastCtrl.today.date|date:'fullDate' }}<br />
                <span class="color-light-text">
                    Oskarbi
                </span>
            </p>
            <div class="row collapse weather-today">
                <div class="small-2 columns">
                    <i class="icon-weather-{{ forecastCtrl.getMainForecastCode(forecastCtrl.today.weather.forecast) }}"></i>
                </div>
                <div class="small-2 columns">
                    <h1 class="temperature">30&deg;</h1>
                </div>
            </div>
            <div class="row collapse weather-forecast weather-uv">
                <div class="small-1 column"
                    ng-repeat="day in forecastCtrl.forecast.data.slice(0, 4)"
                    ng-class="{ 'active': $index == forecastCtrl.activeTab }"
                    ng-click="forecastCtrl.activateTab($index)">
                    <span ng-class="{ 'strong': $first }">{{ day.date|date:'EEE' }}</span><br />
                    <i class="icon-weather-{{ forecastCtrl.getMainForecastCode(day.weather.forecast) }}"></i>
                    <p class="temperatures">
                        {{ day.weather.tempMax }}&deg; <span class="min">{{ day.weather.tempMin }}&deg;</span>
                    </p>
                    <span class="radius label level-{{ day.weather.uvMax }}">UV {{ day.weather.uvMax }}</span>
                </div>
            </div>
            <div class="row collapse weather-periods"
                ng-repeat="day in forecastCtrl.forecast.data.slice(0, 4)"
                ng-show="$index == forecastCtrl.activeTab">
                <ul class="text-small small-block-grid-3 large-block-grid-3"
                    ng-repeat="period in day.weather.forecast">
                    <li>
                        <strong>{{ period.period }}</strong>
                        <i class="icon-weather-{{ period.code }}"></i>
                    </li>
                    <li class="text-center">
                        <i class="icon-rain"></i>
                        {{ period.precipitationProb}}%
                    </li>
                    <li class="text-right">
                        {{ period.windDirection}} {{ period.windSpeed}}
                        <i class="icon-wind"></i>
                    </li>
                </ul>
            </div>
            <div class="row collapse">
                <div class="large-12 columns" ng-show="forecastCtrl.today.weather.uvMax > 5">
                    <hr />
                    <h1 class="title">Kontuz gaur UV izpiekin</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh nunc, porta ac nunc non, dapibus interdum erat. Sed sit amet nunc metus. Vivamus vitae turpis erat. Etiam aliquam risus felis, eget volutpat nisi luctus ac. Suspendisse facilisis viverra ornare. Pellentesque egestas fermentum arcu, ut malesuada ante eleifend eget.</p>
                </div>
                <div class="large-12 columns">
                    <hr />
                    <p class="text-smallest color-lightest-text">
                        {{ 'sources'|translate }}:
                        <span ng-repeat="source in forecastCtrl.forecast.meta.source">
                            {{ source }},
                        </span>
                        <a class="chameleon" href="http://forecast.io">Forecast.io</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
