<section class="on-{{ navigation.activeView }}" ng-controller="InfoController as infoCtrl">
    <div>
        <header>
            <i ng-click="navigation.toggleMenu()" class="left icon-menu"></i>
            <div ng-switch on="infoCtrl.status.isLoading">
                <div ng-switch-when="true">
                    <i class="right icon-spin color-blue animate-spin"></i>
                </div>
                <div ng-switch-default>
                    <i ng-click="navigation.toggleAside();" class="right" ng-class="{ 'icon-location-alt': !navigation.asideIsActive, 'icon-cancel': navigation.asideIsActive }"></i>
                </div>
            </div>
            <h1 class="title">{{ 'info'|translate }}</h1>
        </header>
        <div ng-if="infoCtrl.status.isDone && infoCtrl.status.isError" class="error">
            <p ng-click="infoCtrl.refresh()">
                {{ 'error.connection'|translate }}
                <strong>{{ 'error.retry'|translate }} <i class="icon-spin"></i></strong>
            </p>
        </div>
        <div ng-if="infoCtrl.status.isLoading" class="big-message absolute">
            <i class="icon-download"></i>
            {{ 'loading' | translate }}
        </div>
        <div ng-if="!infoCtrl.status.isLoading" class="overthrow place-info">
            <div class="banner" ng-style="{ 'background-image': 'url('+ infoCtrl.place.getImage('medium') +')' }"></div>
            <span class="location" ng-if="infoCtrl.geolocation.available">
                <i class="icon-direction"></i> {{ infoCtrl.place.location.distanceTo(infoCtrl.geolocation) | distance }}
            </span>
            <h3>
                {{ infoCtrl.place.name }}
            </h3>
            <p class="text-small ucfirst">
                <i class="star-button" ng-click="infoCtrl.toggleFavorite(infoCtrl.place.id)" ng-class="{ 'icon-star color-yellow': infoCtrl.favorite.isFavorite(infoCtrl.place.id), 'icon-star-empty color-lightest-text': !infoCtrl.favorite.isFavorite(infoCtrl.place.id) }"></i>
                {{ infoCtrl.place.getTypeNamesExcept(['murkil']).join(', ') | lowercase }}<br />
                <span class="color-light-text">{{ infoCtrl.place.address }}</span>
            </p>
            <ul class="cta-list">
                <li ng-if="infoCtrl.place.telephone"
                    ng-click="navigation.openExternalLink('tel:'+ infoCtrl.place.getCleanTelephone())">
                    <i class="icon-phone"></i>
                    {{ infoCtrl.place.telephone }}
                </li>
                <li ng-if="infoCtrl.place.email"
                    ng-click="navigation.openExternalLink('mailto:'+ infoCtrl.place.email)">
                    <i class="icon-post"></i>
                    {{ infoCtrl.place.email }}
                </li>
                <li ng-if="infoCtrl.place.url"
                    ng-click="navigation.openExternalLink(infoCtrl.place.url)">
                    <i class="icon-link-external"></i>
                    {{ infoCtrl.place.url }}
                </li>
                <li ng-if="infoCtrl.zarauztarra && infoCtrl.place.isOfType('murkil')"
                    ng-click="navigation.openExternalLink('http://www.murkil.com/index.php?lang='+ infoCtrl.language)">
                    <i class="icon-bag"></i>
                    {{ 'murkil' | translate }}
                </li>
            </ul>
            <div class="content" ng-bind-html="infoCtrl.place.description"></div>
        </div>
        <div class="aside map-container">
            <div munoa-map latitude="{{ infoCtrl.place.location.latitude }}" longitude="{{ infoCtrl.place.location.longitude }}"></div>
        </div>
    </div>
</section>
