<section class="on-{{ navCtrl.activeView }}">
    <div ng-controller="PlacesController as placesCtrl">
        <header>
            <i ng-click="navCtrl.toggleMenu()" class="left icon-menu"></i>
            <h1 class="title">{{ placesCtrl.section|translate }}</h1>
        </header>
        <div class="overthrow">
            <ul class="small-block-grid-3 large-block-grid-4 block-grid-icons">
                <li ng-repeat="group in placesCtrl.groups"
                    ng-click="navCtrl.pushView('place.list', { section: placesCtrl.section, group: group.name })">
                    <i class="{{ group.icon }}"></i>
                    <p class="color-{{ $index % 5 }}">
                        {{ ('placesGroup.'+ placesCtrl.section +'.'+ group.name)|translate }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div ng-include="view2"></div>
    <div ng-include="view3"></div>
</section>

<script type="text/ng-template" id="place.list">
    <div ng-controller="PlaceListController as plistCtrl">
        <header>
            <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
            <div ng-switch on="plistCtrl.status.isLoading">
                <div ng-switch-when="true">
                    <i class="right icon-spin color-blue animate-spin"></i>
                </div>
                <div ng-switch-default>
                    <i ng-click="plistCtrl.toggleFilters()" class="right icon-search" ng-class="{ 'color-blue': plistCtrl.isFiltered() }"></i>
                </div>
            </div>
            <h1 class="title">{{ ('placesGroup.'+ plistCtrl.section +'.'+ plistCtrl.group)|translate }}</h1>
        </header>
        <div ng-if="plistCtrl.status.isDone && plistCtrl.status.isError" class="error">
            <p ng-click="plistCtrl.reload()">
                {{ 'error.connection'|translate }}
                <strong>{{ 'error.retry'|translate }} <i class="icon-spin"></i></strong>
            </p>
        </div>
        <div ng-if="!plistCtrl.status.isLoading" class="overthrow">
            <div class="filter-box">
                <div ng-show="plistCtrl.filter.show">
                    <h3>Filters <span ng-show="plistCtrl.isFiltered()" style="float:right;" class="filterButton" ng-click="plistCtrl.clearFilters()">Garbitu</span></h3>
                    <div class="filterMargin">
                        Name: 
                        <span ng-class="{filterInputOn: plistCtrl.filter.name !== null}"><input ng-model="plistCtrl.filter.name" ng-change="plistCtrl.setFilter('name', plistCtrl.filter.name)" /></span>
                        <span class="filterButton" ng-click="plistCtrl.setFilter('name', '')">X</span>
                    </div>
                    <div class="filterMargin" ng-show="plistCtrl.groupObj.showPriceFilter">
                        Price: 
                        <span 
                            class="filterButton"
                            ng-class="{filterOn: price == plistCtrl.filter.price}"
                            ng-repeat="price in plistCtrl.prices"
                            ng-click="plistCtrl.setFilter('price', price)">
                            {{ price }}
                        </span>
                        <span class="filterButton" ng-click="plistCtrl.setFilter('price', null)">X</span>
                    </div>
                    <div ng-if="plistCtrl.types.length > 1" class="filterMargin">
                        Types: 
                        <span 
                            class = "filterButton"
                            ng-class="{filterOn: type == plistCtrl.filter.type}"
                            ng-repeat="type in plistCtrl.types"
                            ng-click="plistCtrl.setFilter('type', type)">
                            {{ plistCtrl.typesI18N[type] }}
                        </span>
                        <span class="filterButton" ng-click="plistCtrl.setFilter('type', null)">X</span>
                    </div>
                </div>
                <!--
                {{ plistCtrl.pager.getPage() }} / {{ plistCtrl.pager.getTotalPages() }}<br/>
                <a class="small button" ng-click="plistCtrl.pager.prev()">Previous</a>
                <a class="small button" ng-click="plistCtrl.pager.next()">Next</a>
                -->
            </div>
                    
            <div class="list-with-images">
                <div class="sort-options">
                    <i ng-if="plistCtrl.userLocation.location !== false" ng-class="{ 'on': plistCtrl.sorting.type == 'name'}" ng-click="plistCtrl.setSorting('name')" class="left bicon icon-sort-alphabet"></i>
                    <i ng-if="plistCtrl.userLocation.location !== false" ng-class="{ 'on': plistCtrl.sorting.type == 'distance'}" ng-click="plistCtrl.setSorting('distance')" class="right bicon icon-direction"></i>
                    <i ng-show="plistCtrl.isFiltered()" class="icon-filter color-blue"></i>
                    {{ plistCtrl.pager.getTotalItems() }} {{ 'list.results'|translate }}
                    / {{ plistCtrl.totalItems }}
                </div>
                <div ng-repeat="place in plistCtrl.pager.getAllItems()">
                    <hr />
                    <div class="row collapse"
                        ng-click="navCtrl.pushView('place.view', { id: place.id })">
                        <div class="large-1 small-1 columns">
                            <img class="thumbnail color-{{ $index % 5 }}" ng-src="{{ place.getThumbnailImage() }}" />
                        </div>
                        <div class="large-3 small-3 columns">
                            <i class="icon-right-open"></i>
                            <h4 class="title">{{ place.name }}</h4>
                            <p>
                                {{ place.address }}
                                <span class="distance" ng-if="plistCtrl.userLocation.location !== false">
                                    ({{ place.location.distanceTo(plistCtrl.userLocation.location) * 1000 | number:0 }} {{ 'location.distance.meters'|translate }})
                                </span><br/>
                                <i class="icon-tag"></i>
                                <span ng-repeat="type in place.types">
                                    {{ type.name }}<span ng-if="!$last">,</span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="place.view">
    <div ng-controller="PlaceViewController as pviewCtrl">
        <header>
            <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
            <i class="right" ng-class="{ 'icon-star color-blue': pviewCtrl.isFavorite, 'icon-star-empty': !pviewCtrl.isFavorite }" ng-click="pviewCtrl.toggleIsFavorite()"></i>
            <h1 class="title">{{ pviewCtrl.place.name }}</h1>
        </header>
        <div class="overthrow">
            <h1 class="placeholder" ng-show="pviewCtrl.status.isLoading">Loading...</h1>
            <div ng-show="!pviewCtrl.status.isLoading">
                <h2>{{ pviewCtrl.place.name }}</h2>
            </div>
        </div>
    </div>
</script>
