<section class="on-{{ navCtrl.activeView }}">
    <div ng-controller="PlacesController as placesCtrl">
        <header>
            <a href ng-click="navCtrl.toggleMenu()"><i class="left icon-menu"></i></a>
            <h1 class="title">{{ placesCtrl.section|translate }}</h1>
        </header>
        <div class="overthrow">
            <ul class="small-block-grid-3 large-block-grid-4">
                <li class="text-center text-smallest"
                    style="border-bottom: 1px solid red; margin-bottom: 15px"
                    ng-repeat="group in placesCtrl.groups"
                    ng-click="navCtrl.pushView('place.list', { section: placesCtrl.section, group: group })">
                    <p class="text-biggest"><i class="icon-home"></i></p>
                    {{ group }}
                </li>
            </ul>
        </div>
    </div>
    <div ng-include="view2"></div>
    <div ng-include="view3"></div>
</section>

<script type="text/ng-template" id="place.list">
    <style type="text/css">
        .filterMargin { margin-bottom: .5em; }
        .filterButton { 
            display: inline-block;
            margin-bottom: .2em;
            padding:.25em .5em;
            background-color:#fafafa;
            margin-right:.5em;
            cursor: pointer;
        }
        .filterOn { background-color: yellow; }
        .filterInputOn {
            border-bottom: 10px solid yellow;
        }
    </style>
    <div ng-controller="PlaceListController as plistCtrl">
        <header>
            <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
            <a ng-click="plistCtrl.toggleFilters()"><i class="right icon-search"></i></a>
            <h1 class="title">{{ (plistCtrl.section + '.' + plistCtrl.group)|translate }}</h1>
        </header>
        <div class="overthrow">
            <h1 class="placeholder" ng-show="plistCtrl.status.isLoading">Loading...</h1>
            <div ng-show="!plistCtrl.status.isLoading">
                <div ng-show="plistCtrl.filter.show">
                    <h3>Filters <span ng-show="plistCtrl.isFiltered()" style="float:right;" class="filterButton" ng-click="plistCtrl.clearFilters()">Garbitu</span></h3>
                    <div class="filterMargin">
                        Name: 
                        <span ng-class="{filterInputOn: plistCtrl.filter.name !== null}"><input ng-model="plistCtrl.filter.name" ng-change="plistCtrl.setFilter('name', plistCtrl.filter.name)" /></span>
                        <span class="filterButton" ng-click="plistCtrl.setFilter('name', '')">X</span>
                    </div>
                    <div class="filterMargin" ng-show="plistCtrl.groupObj.showPriceFilter">
                        Price: 
                        <span 
                            class="filterButton"
                            ng-class="{filterOn: price == plistCtrl.filter.price}"
                            ng-repeat="price in plistCtrl.prices"
                            ng-click="plistCtrl.setFilter('price', price)">
                            {{ price }}
                        </span>
                        <span class="filterButton" ng-click="plistCtrl.setFilter('price', null)">X</span>
                    </div>
                    <div ng-if="plistCtrl.types.length > 1" class="filterMargin">
                        Types: 
                        <span 
                            class = "filterButton"
                            ng-class="{filterOn: type == plistCtrl.filter.type}"
                            ng-repeat="type in plistCtrl.types"
                            ng-click="plistCtrl.setFilter('type', type)">
                            {{ plistCtrl.typesI18N[type] }}
                        </span>
                        <span class="filterButton" ng-click="plistCtrl.setFilter('type', null)">X</span>
                    </div>
                    <hr>
                </div>
                <!--
                {{ plistCtrl.pager.getPage() }} / {{ plistCtrl.pager.getTotalPages() }}<br/>
                <a class="small button" ng-click="plistCtrl.pager.prev()">Previous</a>
                <a class="small button" ng-click="plistCtrl.pager.next()">Next</a>
                -->
                <div ng-if="plistCtrl.userLocation.location !== false">
                    <span class="filterButton" ng-class="{filterOn: plistCtrl.sorting.type == 'name'}" ng-click="plistCtrl.setSorting('name')">Name</span>
                    <span class="filterButton" ng-class="{filterOn: plistCtrl.sorting.type == 'distance'}" ng-click="plistCtrl.setSorting('distance')">Distance</span>
                    <hr>
                </div>
                <div ng-show="plistCtrl.isFiltered()" style="background-color:#ffc;">
                    Zerrenda filtratuta dago <span style="float:right;" ng-click="plistCtrl.toggleFilters()" ng-hide="plistCtrl.filter.show">Ikusi</span>
                </div>
                <div ng-repeat="place in plistCtrl.pager.getAllItems()" style="margin-bottom:.25em;padding-bottom:.25em;border-bottom:1px solid #eee;"
                    ng-click="navCtrl.pushView('place.view', { id: place.id })"
                    >
                    {{ place.name }}<br>
                    <div ng-if="plistCtrl.userLocation.location !== false">
                        {{ place.location.distanceTo(plistCtrl.userLocation.location) * 1000 | number:0 }} metrota<br>
                    </div>
                    <span ng-repeat="type in place.types" style="margin-right:.25em;display:inline-block;">{{ type.name }}</span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="place.view">
    <div ng-controller="PlaceViewController as pviewCtrl">
        <header>
            <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
            <!--<i class="right icon-share"></i>-->
            <h1 class="title">{{ pviewCtrl.place.name }}</h1>
        </header>
        <div class="overthrow">
            <h1 class="placeholder" ng-show="pviewCtrl.status.isLoading">Loading...</h1>
            <div ng-show="!pviewCtrl.status.isLoading">
                <h2>{{ pviewCtrl.place.name }}</h2>
            </div>
        </div>
    </div>
</script>
