<section class="on-{{ navCtrl.activeView }}" ng-controller="PoiController as poiCtrl">
    <div>
        <header>
            <a href ng-click="navCtrl.toggleMenu()"><i class="left icon-menu"></i></a>
            <h1 class="title">{{ 'poi'|translate }}</h1>
        </header>
        <div class="overthrow">
            <div ng-show="poiCtrl.status.isLoading">Loading...</div>
            <div ng-show="!poiCtrl.status.isLoading">
                <a ng-click="poiCtrl.pager.prev()">Prev</a> – <a ng-click="poiCtrl.pager.next()">Next</a>
                <div ng-repeat="place in poiCtrl.pager.getItems()">
                    {{ place.name }}
                </div>
            </div>
        </div>
    </div>
</section>
