<section class="on-{{ navigation.activeView }}" ng-controller="SettingsController as setCtrl">
    <div>
        <header>
            <i ng-click="navigation.toggleMenu()" class="left icon-menu"></i>
            <h1 class="title">{{ 'settings' | translate }}</h1>
        </header>
        <div class="overthrow table-view">
            <h5>{{ 'settings.general' | translate }}</h5>
            <ul>
                <li ng-repeat="id in setCtrl.settings.getIds()">
                    <a href ng-click="navigation.pushView('settings.selector', { id: id, settings: setCtrl.settings })">
                        <i class="icon-right-open"></i>
                        {{ ('settings.'+ id) | translate }}
                        <span class="detail">{{ ('settings.'+ id +'.'+ setCtrl.settings.get(id)) | translate }}</span>
                    </a>
                </li>
            </ul>
            <br/>
            <h5>{{ 'settings.other' | translate }}</h5>
            <ul>
                <li>
                    <a href ng-click="navigation.pushView('settings.about')">
                        <i class="icon-right-open"></i>
                        {{ 'settings.about' | translate }}
                        <span class="detail"></span>
                    </a>
                </li>
                <li>
                    <a href ng-click="navigation.pushView('settings.cache')">
                        <i class="icon-right-open"></i>
                        {{ 'settings.cache' | translate }}
                        <span class="detail"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-include="view2"></div>
</section>

<script type="text/ng-template" id="settings.selector">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <h1 class="title">{{ ('settings.'+ pushData.id) | translate }}</h1>
    </header>
    <div class="overthrow table-view">
        <ul>
            <li ng-repeat="option in pushData.settings.getOptions(pushData.id)">
                <a href ng-click="setCtrl.updateSetting(pushData.id, option)">
                    <i class="icon-ok selected" ng-show="option == pushData.settings.get(pushData.id)"></i>
                    {{ ('settings.'+ pushData.id +'.'+ option) | translate }}
                </a>
            </li>
        </ul>
        <p class="explanation">
            {{ ('settings.'+ pushData.id +'.'+ pushData.settings.get(pushData.id)) +'.explanation' | translate }}
        </p>
    </div>
</script>

<script type="text/ng-template" id="settings.about">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <h1 class="title">{{ 'settings.about'|translate }}</h1>
    </header>
    <div class="overthrow">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p><small>{{ 'settings.about.build'|translate }}: @@timestamp</small></p>
        <ul class="cta-list">
            <li ng-click="navigation.openExternalLink('http://illarra.com/')">
                <i class="icon-phone"></i>
                Url
            </li>
            <li ng-click="navigation.openExternalLink('mailto:team@illarra.com'">
                <i class="icon-post"></i>
                team@illarra.com
            </li>
        </ul>
    </div>
</script>


<script type="text/ng-template" id="settings.cache">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <h1 class="title">{{ 'settings.cache'|translate }}</h1>
    </header>
    <div class="overthrow">
        <p>Lorem.</p>
        <p><a class="button" ng-click="setCtrl.clearCache()">Do it!</a></p>
    </div>
</script>
