<section class="on-{{ navigation.activeView }}" ng-controller="SettingsController as setCtrl">
    <div>
        <header>
            <i ng-click="navigation.toggleMenu()" class="left icon-menu"></i>
            <h1 class="title">{{ 'settings' | translate }}</h1>
        </header>
        <div class="overthrow table-view">
            <h5>{{ 'settings.general' | translate }}</h5>
            <ul>
                <li ng-repeat="id in setCtrl.settings.getIds()">
                    <a href ng-click="navigation.pushView('settings.selector', { id: id, settings: setCtrl.settings })">
                        <i class="icon-right-open"></i>
                        {{ ('settings.'+ id) | translate }}
                        <span class="detail">{{ ('settings.'+ id +'.'+ setCtrl.settings.get(id)) | translate }}</span>
                    </a>
                </li>
            </ul>
            <br/>
            <h5>{{ 'app' | translate }}</h5>
            <ul>
                <!--<li>
                    <a href ng-click="navigation.pushView('settings.about')">
                        <i class="icon-right-open"></i>
                        {{ 'settings.about' | translate }}
                    </a>
                </li>
                <li>
                    <a href ng-click="navigation.pushView('settings.about.opensource')">
                        <i class="icon-right-open"></i>
                        {{ 'settings.about.opensource' | translate }}
                    </a>
                </li>-->
                <li>
                    <span class="a">
                        {{ 'settings.about.build'|translate }}
                        <span class="detail">{{ '@@timestamp' | amDateFormat:'llll' }}</span>
                    </span>
                </li>
            </ul>
            <br/>
            <h5>{{ 'settings.data' | translate }}</h5>
            <ul>
                <li>
                    <a href ng-click="navigation.pushView('settings.data.cache')">
                        <i class="icon-right-open"></i>
                        {{ 'settings.data.cache' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-include="view2"></div>
</section>

<script type="text/ng-template" id="settings.selector">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <h1 class="title">{{ ('settings.'+ pushData.id) | translate }}</h1>
    </header>
    <div class="overthrow table-view">
        <ul>
            <li ng-repeat="option in pushData.settings.getOptions(pushData.id)">
                <a href ng-click="setCtrl.updateSetting(pushData.id, option)">
                    <i class="icon-ok selected" ng-show="option == pushData.settings.get(pushData.id)"></i>
                    {{ ('settings.'+ pushData.id +'.'+ option) | translate }}
                </a>
            </li>
        </ul>
        <p ng-if="['profile'].indexOf(pushData.id) !== -1" class="explanation">
            {{ ('settings.'+ pushData.id +'.'+ pushData.settings.get(pushData.id)) +'.explanation' | translate }}
        </p>
    </div>
</script>

<script type="text/ng-template" id="settings.about">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <h1 class="title">{{ 'settings.about'|translate }}</h1>
    </header>
    <div class="overthrow">
        <p></p>
        <ul class="cta-list">
            <li ng-click="navigation.openExternalLink('mailto:turismoa@zarautz.org')">
                <i class="icon-info"></i>
                turismoa@zarautz.org
            </li>
            <li ng-click="navigation.openExternalLink('mailto:team@illarra.com')">
                <i class="icon-cog"></i>
                team@illarra.com
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="settings.about.opensource">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <h1 class="title">{{ 'settings.about.opensource'|translate }}</h1>
    </header>
    <div class="overthrow">
        <p></p>
        <ul class="cta-list">
            <li ng-click="navigation.openExternalLink(setCtrl.apiDocs)">
                <i class="icon-download"></i>
                Zarautz API
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="settings.data.cache">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <h1 class="title">{{ 'settings.data.cache'|translate }}</h1>
    </header>
    <div class="overthrow">
        <!--<p>{{ 'settings.cache.explanation' | translate }}</p>-->
        <a href ng-click="setCtrl.clearCache()" class="external-link alert">
            {{ 'settings.data.cache' | translate }}
        </a>
    </div>
</script>
