<section class="on-{{ navigation.activeView }}" ng-controller="TidesController as tidesCtrl">
    <div>
        <header>
            <i ng-click="navigation.toggleMenu()" class="left icon-menu"></i>
            <i ng-if="tidesCtrl.status.isLoading" class="right icon-spin color-blue animate-spin"></i>
            <h1 class="title">{{ 'tides'|translate }}</h1>
        </header>
        <div ng-if="tidesCtrl.status.isDone && tidesCtrl.status.isError" class="error">
            <p ng-click="tidesCtrl.refresh()">
                {{ 'error.connection'|translate }}
                <strong>{{ 'error.retry'|translate }} <i class="icon-spin"></i></strong>
            </p>
        </div>
        <div ng-if="tidesCtrl.status.isLoading" class="big-message absolute">
            <i class="icon-download"></i>
            {{ 'loading' | translate }}
        </div>
        <div ng-if="!tidesCtrl.status.isLoading" class="overthrow">
            <div ng-repeat="day in tidesCtrl.tides">
                <p class="table-view-separator" ng-class="{ 'compress': $index === 0 }">
                    {{ day.date | amDateFormat:'dddd, L' }}
                </p>
                <ul class="simple-list text-small">
                    <li ng-repeat="tide in day.tides">
                        <span class="tide-level">{{ ('tides.level.'+ tide.tide) | translate }}</span>
                        {{ tide.hour }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
