<section class="on-{{ navigation.activeView }}" ng-controller="WeatherController as weatherCtrl">
    <div>
        <header>
            <i ng-click="navigation.toggleMenu()" class="left icon-menu"></i>
            <i ng-if="weatherCtrl.status.isLoading" class="right icon-spin color-blue animate-spin"></i>
            <h1 class="title">{{ 'weather'|translate }}</h1>
        </header>
        <div ng-if="weatherCtrl.status.isDone && weatherCtrl.status.isError" class="error">
            <p ng-click="weatherCtrl.refresh()">
                {{ 'error.connection'|translate }}
                <strong>{{ 'error.retry'|translate }} <i class="icon-spin"></i></strong>
            </p>
        </div>
        <div ng-if="weatherCtrl.status.isLoading" class="big-message absolute">
            <i class="icon-download"></i>
            {{ 'loading' | translate }}
        </div>
        <div ng-if="!weatherCtrl.status.isLoading" class="overthrow">
            <div class="row collapse">
                <div class="weather-today banner">
                    <p class="text-smallest ucfirst">
                        {{ weatherCtrl.forecast.today.date|amDateFormat:'dddd, LL' }}<br />
                        <span class="color-light-text">
                            {{ weatherCtrl.forecast.today.getCurrentWeatherCode().name }}
                        </span>
                    </p>
                    <div class="small-2 columns">
                        <i class="icon-weather-{{ weatherCtrl.forecast.today.getCurrentWeatherCode().code }}"></i>
                    </div>
                    <div class="small-2 columns">
                        <h1 ng-if="weatherCtrl.forecast.today.weather.temp" class="temperature">
                            {{ weatherCtrl.forecast.today.weather.temp }}&deg;
                        </h1>
                        <div ng-if="!weatherCtrl.forecast.today.weather.temp" class="temperature-range">
                            <h2 class="max">{{ weatherCtrl.forecast.today.weather.tempMax }}&deg;</h2>
                            <h3 class="min">{{ weatherCtrl.forecast.today.weather.tempMin }}&deg;</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row collapse weather-forecast">
                <div class="small-1 column"
                    ng-repeat="day in weatherCtrl.forecast.days"
                    ng-class="{ 'active': $index === weatherCtrl.activeTab }"
                    ng-click="weatherCtrl.changeTab($index)">
                    <span class="day">{{ day.date | amDateFormat:'ddd' }}</span>
                    <i class="icon-weather-{{ day.getWeatherCode().code }}"></i>
                    <p class="temperatures">
                        {{ day.weather.tempMax }}&deg; <span class="min">{{ day.weather.tempMin }}&deg;</span>
                    </p>
                    <span class="radius label uv-label-{{ day.weather.uvMax }}">UV {{ day.weather.uvMax }}</span>
                </div>
            </div>
            <div class="row collapse weather-periods"
                ng-repeat="day in weatherCtrl.forecast.days"
                ng-show="$index == weatherCtrl.activeTab">
                <ul class="text-small small-block-grid-3 large-block-grid-3"
                    ng-repeat="period in day.weather.forecast"
                    ng-show="(weatherCtrl.activeTab === 0 && $index >= day.getCurrentHourIndex()) || weatherCtrl.activeTab > 0">
                    <li>
                        <strong>{{ period.period }}</strong>
                        <i class="icon-weather-{{ period.code.code }}"></i>
                    </li>
                    <li class="text-center">
                        <i class="icon-rain"></i>
                        {{ period.precipitationProb }}%
                    </li>
                    <li class="text-right">
                        <i class="icon-wind-{{ period.windDirection }}"></i>
                        {{ period.windSpeed }}
                        <sup>km/h</sup>
                    </li>
                </ul>
            </div>
            <div class="row collapse">
                <div class="large-12 columns"
                    ng-if="weatherCtrl.forecast.today.weather.uvMax > 5 && weatherCtrl.forecast.today.getCurrentWeatherCode().code === 11">
                    <h2><i class="right icon-info"></i> {{ 'weather.uv.title'|translate }}</h2>
                    <p class="uv-text-orange"
                        ng-if="weatherCtrl.forecast.today.weather.uvMax > 5 && weatherCtrl.forecast.today.weather.uvMax < 8">
                        {{ 'weather.uv.orange'|translate }}
                    </p>
                    <p class="uv-text-red"
                        ng-if="weatherCtrl.forecast.today.weather.uvMax > 7 && weatherCtrl.forecast.today.weather.uvMax < 11">
                        {{ 'weather.uv.red'|translate }}
                    </p>
                    <p class="uv-text-violet"
                        ng-if="weatherCtrl.forecast.today.weather.uvMax > 10">
                        {{ 'weather.uv.violet'|translate }}
                    </p>
                    <hr />
                </div>
                <div class="large-12 columns">
                    <p class="text-smallest color-lightest-text">
                        {{ 'meta.lastUpdated'|translate }}: {{ weatherCtrl.forecast.meta.lastUpdated|amDateFormat:'L LT' }}<br />
                        {{ 'meta.sources'|translate }}:
                        <span ng-click="navigation.openExternalLink(url)"
                            ng-repeat="(name, url) in weatherCtrl.forecast.meta.source">
                            {{ name }}<span ng-hide="$last">, </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
