<section class="on-{{ wizardCtrl.activeView }}">
    <div>
        <header>
            <h1 class="title" ng-bind="('settings.language') | translate"></h1>
        </header>
        <div class="overthrow table-view branding">
            <ul>
                <li ng-repeat="option in wizardCtrl.settings.getOptions('language')">
                    <a href ng-click="wizardCtrl.updateSetting('language', option)">
                        <i class="icon-ok selected" ng-show="option == wizardCtrl.settings.get('language')"></i>
                        <span ng-bind="('settings.language.' + option) | translate"></span>
                    </a>
                </li>
            </ul>
            <p class="explanation">
                Aukeratu zure hizkuntza<br/>
                <em>Choose your language</em>
            </p>
        </div>
    </div>
    <div>
        <header>
            <a href ng-click="wizardCtrl.popView()"><i class="left icon-left"></i></a>
            <h1 class="title">{{ ('settings.profile')|translate }}</h1>
        </header>
        <div class="overthrow table-view branding">
            <ul>
                <li ng-repeat="option in wizardCtrl.settings.getOptions('profile')">
                    <a href ng-click="wizardCtrl.updateSetting('profile', option)">
                        <i class="icon-ok selected" ng-show="option == wizardCtrl.settings.get('profile')"></i>
                        {{ ('settings.profile.' + option)|translate }}
                    </a>
                </li>
            </ul>
            <p class="explanation">
                {{ 'settings.profile.wizard' | translate }}
            </p>
        </div>
    </div>
</section>
