<section class="on-{{ navCtrl.activeView }}" ng-controller="ZuzarautzController as zzCtrl">
    <div>
        <header>
            <i ng-click="navCtrl.toggleMenu()" class="left icon-menu"></i>
            <i ng-if="zzCtrl.status.isLoading" class="right icon-spin color-blue animate-spin"></i>
            <h1 class="title">{{ 'zuzarautz'|translate }}</h1>
        </header>
        <div ng-if="zzCtrl.status.isDone && zzCtrl.status.isError" class="error">
            <p ng-click="zzCtrl.reload()">
                {{ 'error.connection'|translate }}
                <strong>{{ 'error.retry'|translate }} <i class="icon-spin"></i></strong>
            </p>
        </div>
        <div ng-if="!zzCtrl.status.isLoading" class="overthrow list-with-images">
            <div ng-repeat="post in zzCtrl.posts">
                <hr ng-hide="$index == 0"/>
                <div class="row collapse"
                    ng-click="navCtrl.pushView('post.show', { 'post': post })">
                    <div class="large-1 small-1 columns">
                        <img class="thumbnail color-{{ $index % 5 }}" ng-src="{{ post.getThumbnailImage() }}" />
                    </div>
                    <div class="large-3 small-3 columns">
                        <i class="icon-right-open"></i>
                        <h4 class="title">{{ post.title }}</h4>
                        <p class="color-lightest-text">{{ post.publishedAt | date:'longDate' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="view2"></div>
</section>

<script type="text/ng-template" id="post.show">
    <header>
        <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
        <!--<i class="right icon-share"></i>-->
        <h1 class="title">{{ pushData.post.title }}</h1>
    </header>
    <div class="overthrow post" ng-if="navCtrl.contentIsAlive(2)">
        <h1 class="color-blue">
            {{ pushData.post.title }}
        </h1>
        <div class="content" ng-bind-html="pushData.post.getContent('medium')"></div>
        <a href ng-click="navCtrl.openExternalLink(pushData.post.permalink)" class="external-link">
            Zu Zarautz webgunean ikusi
        </a>
    </div>
</script>
