<section class="on-{{ navigation.activeView }}" ng-controller="ZuzarautzController as zzCtrl">
    <div>
        <header>
            <i ng-click="navigation.toggleMenu()" class="left icon-menu"></i>
            <div ng-switch on="zzCtrl.status.isLoading">
                <div ng-switch-when="true">
                    <i class="right icon-spin color-blue animate-spin"></i>
                </div>
                <div ng-switch-default>
                    <i ng-if="settings.get('profile') === 'zarautz'" ng-click="navigation.toggleAside();" class="right" ng-class="{ 'icon-info': !navigation.asideIsActive, 'icon-cancel': navigation.asideIsActive }"></i>
                </div>
            </div>
            <h1 class="title">{{ 'zuzarautz'|translate }}</h1>
        </header>
        <div ng-if="zzCtrl.status.isDone && zzCtrl.status.isError" class="error">
            <p ng-click="zzCtrl.refresh()">
                {{ 'error.connection'|translate }}
                <strong>{{ 'error.retry'|translate }} <i class="icon-spin"></i></strong>
            </p>
        </div>
        <div ng-if="zzCtrl.status.isLoading" class="big-message absolute">
            <i class="icon-download"></i>
            {{ 'loading' | translate }}
        </div>
        <div ng-if="!zzCtrl.status.isLoading" class="overthrow table-view-images">
            <div ng-repeat="post in zzCtrl.posts">
                <hr ng-hide="$index === 0"/>
                <div class="row collapse"
                    ng-click="navigation.pushView('post.show', { 'post': post })">
                    <div class="large-1 small-1 columns">
                        <div class="thumbnail color-{{ $index % 5 }}" ng-style="{ 'background-image': 'url('+ post.getThumbnailImage() +')' }"><img src="images/dot.png" /></div>
                    </div>
                    <div class="large-3 small-3 columns main-td">
                        <i class="icon-right-open"></i>
                        <h4 class="title">{{ post.title }}</h4>
                        <p>
                            <i class="icon-calendar-alt"></i>
                            {{ post.publishedAt | amDateFormat:'LL' }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside branding">
            <h2>
                Denon artean egiten dugu Zarautz
            </h2>
            <p>
                Zu Zarautz herritarrentzat hedabide izateaz gainera, herritarrentzat aplikazio ere bada. Edonor erregistratu daiteke <strong>ZuZarautz.info</strong> webgunean, gure komunitatearentzat interesgarri diren albisteak partekatzeko.
            </p>
            <a href ng-click="navigation.openExternalLink('http://zuzarautz.info/erabiltzailea-eskatu/')" class="external-link">
                Parte hartu nahi duzu?
            </a>
        </div>
    </div>
    <div ng-include="view2"></div>
</section>

<script type="text/ng-template" id="post.show">
    <header>
        <a href ng-click="navigation.popView()"><i class="left icon-left"></i></a>
        <!--<i class="right icon-share"></i>-->
        <h1 class="title">{{ pushData.post.title }}</h1>
    </header>
    <div class="overthrow post" ng-if="navigation.contentIsAlive(2)">
        <h1 class="title">
            {{ pushData.post.title }}
        </h1>
        <p class="text-small color-lightest-text">
            <i class="icon-user"></i> {{ pushData.post.author }}<br />
            <i class="icon-calendar-alt"></i> {{ pushData.post.publishedAt | amDateFormat:'LL' }}<br />
            <i class="icon-tag"></i> {{ pushData.post.tags.join(', ') }}<br />
        </p>
        <div munoa-link-converter content="{{ pushData.post.getContent('medium') }}" class="content"></div>
        <a href ng-click="navigation.openExternalLink(pushData.post.permalink)" class="external-link">
            Zu Zarautz webgunean ikusi
        </a>
    </div>
</script>
