<section class="on-{{ navCtrl.activeView }}" ng-controller="ZuzarautzController as zuzarautzCtrl">
    <div>
        <header>
            <a href ng-click="navCtrl.toggleMenu()"><i class="left icon-menu"></i></a>
            <h1 class="title">{{ 'zuzarautz'|translate }}</h1>
        </header>
        <div class="overthrow">
            <ul>
                <li ng-repeat="post in posts.data">
                    <a href ng-click="navCtrl.pushView('post.show', { 'post': post })">
                        {{ post.title }}
                    </a>
                    <hr />
                </li>
            </ul>
        </div>
    </div>
    <div ng-include="view2"></div>
</section>

<script type="text/ng-template" id="post.show">
    <header>
        <a href ng-click="navCtrl.popView()"><i class="left icon-left"></i></a>
        <!--<i class="right icon-share"></i>-->
        <h1 class="color-blue">{{ pushData.post.title }}</h1>
    </header>
    <div class="overthrow post">
        <h1 class="title">
            {{ pushData.post.title }}
        </h1>
        <div class="content" ng-bind-html="pushData.post.content"></div>
    </div>
</script>
