$menu-width:              $drawer-width;
$menu-animation-duration: 0.15s;
$push-animation-duration: 0.2s; // Default in iOS 6: "0.25s" (?)

//
// Mixins
//

@mixin scroll() {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .csstransforms3d & {
        @include transform(translateZ(0px));
    }
}

@mixin transform-transition($duration, $timingFunction) {
    .csstransitions & {
        @include transition-property(transform);
        @include transition-duration($duration);
        @include transition-timing-function($timingFunction);
    }
}

@mixin transform-translateX($position) {
    .csstransforms & {
        left: auto;
        @include transform(translateX($position));
    }
}

@mixin transform-translateY($position) {
    .csstransforms & {
        left: auto;
        @include transform(translateY($position));
    }
}

@mixin transform-translateZ($position) {
    .csstransforms3d & {
        @include transform(translateZ($position));
    }
}

//
// Navigation rules
//

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    z-index: 0;
    height: 100%;
    width: $menu-width;
    @include scroll();
}

main {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    @include transform-transition($menu-animation-duration, ease-out);
}

aside {
    position: fixed;
    z-index: 20;
    height: 100%;
    width: 100%;
    @include transform-transition($push-animation-duration, linear);
    @include transform-translateY(130%);
}

body.active-menu {
    main {
        left: $menu-width;
        @include transform-translateX($menu-width);

        @media only screen and (max-width: 315px) {
            left: 80%;
            @include transform-translateX(80%);
        }
    }
}

body.active-modal {
    aside {
        @include transform-translateY(0px);
    }
}

section {
    position: absolute;
    height: 100%;
    @include transform-transition($push-animation-duration, linear);
    
    > div {
        float: left;
        height: 100%;
        position: relative;
    }
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: $action-bar-height;
    width: 100%;
    overflow: hidden;
    @include transform-translateZ(0px);
}

div.scroll {
    position: absolute;
    top: $action-bar-height;
    bottom: 0px;
    left: 0px;
    width: 100%;
    @include scroll();
}

//
// Flex pages predefinition
//

$flex-pages: 5;

section {
    width: 100% * $flex-pages;
    
    > div {
        width: 100% / $flex-pages;
    }
    
    &.on-1 {
        left: 0;
        @include transform-translateX(0px);
    }
    
    @for $page from 2 through $flex-pages {
        &.on-#{($page)} {
            left: -(100% * ($page - 1));
            @include transform-translateX(-((100% / $flex-pages) * ($page - 1)));
        }
    }
}
