$color-text: $body-font-color;
$color-light-text: #666;
$color-lightest-text: #bbb;
$color-blue: #09c;
$color-light-blue: #33b5e5;
$color-lightest-blue: #c5eaf8;
$color-green: #690;
$color-lightest-green: #e2f0b6;
$color-yellow: #fb3;
$color-orange: #f80;
$color-lightest-orange: #ffecc0;
$color-red: #c00;
$color-lightest-red: #ffe4e4;
$color-violet: #93c;
$color-lightest-violet: #e5caf2;

.color-text { color: $color-text; }
.color-light-text { color: $color-light-text; }
.color-lightest-text { color: $color-lightest-text; }
.color-blue { color: $color-blue; }
.color-light-blue { color: $color-light-blue; }
.color-green { color: $color-green; }
.color-yellow { color: $color-yellow; }
.color-orange { color: $color-orange; }
.color-red { color: $color-red; }
.color-violet { color: $color-violet; }
.color-dark { color: #555; }
.color-twitter { color: #00aced; }
