$menu-width:          $drawer-width;
$transition-duration: 0.2s;

//
// Mixins
//

@mixin transform-transition($duration, $timingFunction) {
    @include transition-property(transform);
    @include transition-duration($duration);
    @include transition-timing-function($timingFunction);
    @include backface-visibility(hidden);
}

@mixin transform-translateX($position) {
    @include transform(translateX($position));
}

@mixin transform-translateY($position) {
    @include transform(translateY($position));
}

@mixin transform-translateZ($position) {
    .csstransforms3d & {
        @include transform(translateZ($position));
    }
}

//
// Navigation rules
//

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

nav {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: $menu-width;
}

main {
    position: absolute;
    z-index: 50;
    height: 100%;
    width: 100%;
    @include transform-transition($transition-duration, ease-out);
}

aside {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}

div.aside {
    position: absolute;
    z-index: 500;
    top: $action-bar-height;
    bottom: 0;
    width: 100%;
    @include transform-transition($transition-duration, ease-out);
    @include transform-translateY(-100%);

    body.active-aside & {
        @include transform-translateY(0);
    }
}

body.active-menu {
    main {
        @include transform-translateX($menu-width);

        @media only screen and (max-width: 315px) {
            @include transform-translateX(80%);
        }
    }
}

section {
    position: absolute;
    height: 100%;

    // Reduce CSS load in older mobiles...
    .csstransforms3d & {
        @include transform-transition($transition-duration, linear);
    }
    
    > div {
        float: left;
        position: relative;
    }

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        height: $action-bar-height;
        width: 100%;
        overflow: hidden;
        @include transform-translateZ(0px);
    }

    div.overthrow {
        margin-top: $action-bar-height;
        width: 100%;
    }
}

//
// Scroll and overthrow support
//

.overthrow-enabled {
    overflow-y: hidden;
    
    body {
        overflow-y: hidden;
    }

    section {
        > div {
            height: 100%;

            div.overthrow {
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                margin-top: auto;
                position: absolute;
                top: $action-bar-height;
                bottom: 0px;
                left: 0px;
            }
        }
    }

    &.csstransforms3d {
        div.overthrow {
            @include transform(translateZ(0px));
        }
    }
}

//
// Flex pages predefinition
//

$flex-pages: 4;

section {
    width: 100% * $flex-pages;
    
    > div {
        width: 100% / $flex-pages;
    }
    
    &.on-1 {
        @include transform-translateX(0%);
    }
    
    @for $page from 2 through $flex-pages {
        &.on-#{($page)} {
            @include transform-translateX(-((100% / $flex-pages) * ($page - 1)));
        }
    }
}
