@font-face {
    font-family: 'fontello';
    src: font-files("fontello.eot");
    src: font-files("fontello.eot", "fontello.woff", "fontello.ttf", "fontello.svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    &:before {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        
        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
        
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
        
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;
    }

    &.animate-spin {
        -webkit-animation: spin 2s infinite linear;
        -moz-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
        display: block;
    }
}

.icon-compass:before { content: '\e81f'; } /* '' */
.icon-na:before { content: '\e820'; } /* '' */
.icon-celcius:before { content: '\e821'; } /* '' */
.icon-fahrenheit:before { content: '\e822'; } /* '' */
.icon-weather-53:before { content: '\e823'; } /* '' */
.icon-moon-inv:before { content: '\e824'; } /* '' */
.icon-sunrise:before { content: '\e825'; } /* '' */
.icon-weather-11:before { content: '\e826'; } /* '' */
.icon-moon:before { content: '\e827'; } /* '' */
.icon-eclipse:before { content: '\e828'; } /* '' */
.icon-weather-12:before { content: '\e829'; } /* '' */
.icon-wind:before { content: '\e82a'; } /* '' */
.icon-snow:before { content: '\e82b'; } /* '' */
.icon-weather-13:before { content: '\e82c'; } /* '' */
.icon-cloud-moon:before { content: '\e82d'; } /* '' */
.icon-uv:before { content: '\e82e'; } /* '' */
.icon-fog:before { content: '\e82f'; } /* '' */
.icon-weather-14:before { content: '\e830'; } /* '' */
.icon-weather-51:before { content: '\e831'; } /* '' */
.icon-weather-43:before { content: '\e832'; } /* '' */
.icon-weather-23:before { content: '\e833'; } /* '' */
.icon-windy:before { content: '\e834'; } /* '' */
.icon-windy-rain:before { content: '\e835'; } /* '' */
.icon-weather-33:before { content: '\e836'; } /* '' */
.icon-weather-35:before { content: '\e837'; } /* '' */
.icon-weather-71:before { content: '\e838'; } /* '' */
.icon-weather-15:before { content: '\e839'; } /* '' */
.icon-info:before { content: '\e812'; } /* '' */
.icon-left:before { content: '\e840'; } /* '' */
.icon-right:before { content: '\e841'; } /* '' */
.icon-home:before { content: '\e83c'; } /* '' */
.icon-sun-alt:before { content: '\e81b'; } /* '' */
.icon-rain:before { content: '\e81c'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-layout:before { content: '\e811'; } /* '' */
.icon-flag:before { content: '\e813'; } /* '' */
.icon-attention:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e83a'; } /* '' */
.icon-cancel:before { content: '\e83b'; } /* '' */
.icon-accessibility:before { content: '\e861'; } /* '' */
.icon-sort-alphabet:before { content: '\e819'; } /* '' */
.icon-book:before { content: '\e860'; } /* '' */
.icon-cog-alt:before { content: '\e85f'; } /* '' */
.icon-cog:before { content: '\e85e'; } /* '' */
.icon-tag:before { content: '\e81d'; } /* '' */
.icon-share:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-basket-alt:before { content: '\e80b'; } /* '' */
.icon-basket:before { content: '\e81e'; } /* '' */
.icon-layers:before { content: '\e81a'; } /* '' */
.icon-smiley:before { content: '\e800'; } /* '' */
.icon-emo-sleep:before { content: '\e801'; } /* '' */
.icon-art:before { content: '\e842'; } /* '' */
.icon-bar:before { content: '\e843'; } /* '' */
.icon-beer:before { content: '\e844'; } /* '' */
.icon-bicycle:before { content: '\e845'; } /* '' */
.icon-bus:before { content: '\e846'; } /* '' */
.icon-cafe:before { content: '\e847'; } /* '' */
.icon-campsite:before { content: '\e848'; } /* '' */
.icon-credit-card:before { content: '\e849'; } /* '' */
.icon-fast-food:before { content: '\e84a'; } /* '' */
.icon-fuel:before { content: '\e84b'; } /* '' */
.icon-hospital:before { content: '\e84c'; } /* '' */
.icon-library:before { content: '\e84d'; } /* '' */
.icon-lodging:before { content: '\e84e'; } /* '' */
.icon-pitch:before { content: '\e84f'; } /* '' */
.icon-police:before { content: '\e850'; } /* '' */
.icon-post:before { content: '\e851'; } /* '' */
.icon-rail:before { content: '\e852'; } /* '' */
.icon-spin:before { content: '\f000'; } /* '' */
.icon-restaurant:before { content: '\e853'; } /* '' */
.icon-school:before { content: '\e854'; } /* '' */
.icon-shop:before { content: '\e855'; } /* '' */
.icon-football:before { content: '\e856'; } /* '' */
.icon-swim:before { content: '\e857'; } /* '' */
.icon-theatre:before { content: '\e858'; } /* '' */
.icon-toilet:before { content: '\e859'; } /* '' */
.icon-town-hall:before { content: '\e85a'; } /* '' */
.icon-tree-alt:before { content: '\e85b'; } /* '' */
.icon-tree:before { content: '\e85c'; } /* '' */
.icon-right-open:before { content: '\e83f'; } /* '' */
.icon-left-open:before { content: '\e83e'; } /* '' */
.icon-location-alt:before { content: '\e83d'; } /* '' */
.icon-user:before { content: '\f001'; } /* '' */
.icon-filter:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-medical-alt:before { content: '\e80e'; } /* '' */
.icon-medical:before { content: '\e80f'; } /* '' */
.icon-direction:before { content: '\e808'; } /* '' */
.icon-link-external:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e85d'; } /* '' */
.icon-pictures:before { content: '\e810'; } /* '' */
.icon-leaf:before { content: '\e80c'; } /* '' */
.icon-bag:before { content: '\e816'; } /* '' */
.icon-calendar:before { content: '\e817'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-wifi:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e862'; } /* '' */

.icon-parking:before { content: 'P'; font-family: inherit; font-weight: bold; } /* '' */

.icon-weather-11:before { content: '\e826'; } /* '' */
.icon-weather-12:before,
.icon-weather-13:before { content: '\e82c'; } /* '' */
.icon-weather-14:before { content: '\e830'; } /* '' */
.icon-weather-15:before,
.icon-weather-16:before,
.icon-weather-17:before { content: '\e839'; } /* '' */
.icon-weather-23:before,
.icon-weather-24:before,
.icon-weather-25:before,
.icon-weather-26:before { content: '\e833'; } /* '' */
.icon-weather-33:before,
.icon-weather-34:before { content: '\e836'; } /* '' */
.icon-weather-35:before,
.icon-weather-36:before { content: '\e837'; } /* '' */
.icon-weather-43:before,
.icon-weather-44:before,
.icon-weather-45:before,
.icon-weather-46:before { content: '\e832'; } /* '' */
.icon-weather-51:before,
.icon-weather-52:before { content: '\e831'; } /* '' */
.icon-weather-53:before,
.icon-weather-54:before,
.icon-weather-61:before,
.icon-weather-62:before,
.icon-weather-63:before,
.icon-weather-64:before { content: '\e823'; } /* '' */
.icon-weather-71:before,
.icon-weather-72:before { content: '\e838'; } /* '' */
.icon-weather-73:before,
.icon-weather-74:before { content: '\e836'; } /* '' */

//
// Animation example, for spinners
//

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}

@include keyframes(spin) {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
