$menu-width:              $drawer-width;
$menu-animation-duration: 0.2s;
$push-animation-duration: 0.2s; // Default in iOS 6: "0.25s" (?)

//
// Mixins
//

@mixin transform-transition($duration, $timingFunction) {
    @include transition-property(transform);
    @include transition-duration($duration);
    @include transition-timing-function($timingFunction);
    @include backface-visibility(hidden);
}

@mixin transform-translateX($position) {
    @include transform(translateX($position));
}

@mixin transform-translateY($position) {
    @include transform(translateY($position));
}

@mixin transform-translateZ($position) {
    .csstransforms3d & {
        @include transform(translateZ($position));
    }
}

//
// Navigation rules
//

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

nav {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: $menu-width;
}

main {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    @include transform-transition($menu-animation-duration, ease-out);
}

aside {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    @include transform-transition($push-animation-duration, linear);
    @include transform-translateY(130%);
}

body.active-menu {
    main {
        @include transform-translateX($menu-width);

        @media only screen and (max-width: 315px) {
            @include transform-translateX(80%);
        }
    }
}

body.active-modal {
    aside {
        @include transform-translateY(0px);
    }
}

section {
    position: absolute;
    height: 100%;
    @include transform-transition($push-animation-duration, linear);
    
    > div {
        float: left;
        position: relative;
    }

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        height: $action-bar-height;
        width: 100%;
        overflow: hidden;
        @include transform-translateZ(0px);
    }

    div.overthrow {
        margin-top: $action-bar-height;
        width: 100%;
    }
}

//
// Scroll and overthrow support
//

.overthrow-enabled {
    overflow-x: hidden;
    
    body {
        overflow-x: hidden;
    }

    section {
        > div {
            height: 100%;

            div.overthrow {
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                margin-top: auto;
                position: absolute;
                top: $action-bar-height;
                bottom: 0px;
                left: 0px;
            }
        }
    }

    &.csstransforms3d {
        div.overthrow {
            @include transform(translateZ(0px));
        }
    }
}

//
// Flex pages predefinition
//

$flex-pages: 5;

section {
    width: 100% * $flex-pages;
    
    > div {
        width: 100% / $flex-pages;
    }
    
    &.on-1 {
        @include transform-translateX(0%);
    }
    
    @for $page from 2 through $flex-pages {
        &.on-#{($page)} {
            @include transform-translateX(-((100% / $flex-pages) * ($page - 1)));
        }
    }
}
