$ios7-status-bar-height: 20px;
$ios7-status-bar-color:  whitesmoke;

//
// iOS 7 header
//

div.x-ios7-status-bar {
    display: none;
}

html.x-ios7 {
    body {
        padding-top: $ios7-status-bar-height;

        div.x-ios7-status-bar {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 99999;
            height: $ios7-status-bar-height;
            width: 100%;
            background: $ios7-status-bar-color;
        }
    }

    &.overthrow-enabled {
        section {
            > div {
                div.overthrow {
                    bottom: $ios7-status-bar-height;
                }
            }
        }
    }
}
