$lighten-percentage: 15%;

$color-text: $body-font-color;
$color-light-text: #666;
$color-lightest-text: #999;
$color-blue: #34aadc;
$color-flashy-blue: #007aff;
$color-dark-blue: darken($color-blue, 15%);
$color-light-blue: #5ac8fa;
$color-lightest-blue: lighten($color-blue, $lighten-percentage);
$color-green: #4cd964;
$color-lightest-green: lighten($color-green, $lighten-percentage);
$color-yellow: #ffcc00;
$color-lightest-yellow: lighten($color-yellow, $lighten-percentage);
$color-orange: #ff9500;
$color-lightest-orange: lighten($color-orange, $lighten-percentage);
$color-red: #ff3b30;
$color-lightest-red: lighten($color-red, $lighten-percentage);
$color-violet: #93c;
$color-lightest-violet: lighten($color-violet, $lighten-percentage);

.color-text { color: $color-text; }
.color-light-text { color: $color-light-text; }
.color-lightest-text { color: $color-lightest-text; }
.color-blue { color: $color-blue; }
.color-light-blue { color: $color-light-blue; }
.color-dark-blue { color: $color-dark-blue; }
.color-green { color: $color-green; }
.color-yellow { color: $color-yellow; }
.color-orange { color: $color-orange; }
.color-red { color: $color-red; }
.color-violet { color: $color-violet; }
.color-dark { color: #555; }
.color-twitter { color: #00aced; }
