$color-text: $body-font-color;
$color-light-text: #666;
$color-lightest-text: #aaa;
$color-blue: #337abd;

.color-text { color: $color-text; }
.color-light-text { color: $color-light-text; }
.color-lightest-text { color: $color-lightest-text; }
.color-blue { color: $color-blue; }
.color-light-blue { color: #2999b7; }
.color-yellow { color: #f9c600; }
.color-orange { color: #fba400; }
.color-red { color: #cd1c19; }
.color-green { color: #73ba5a; }
.color-dark { color: #555; }
.color-twitter { color: #00aced; }
