@font-face {
    font-family: 'fontello';
    src: font-files("fontello.eot");
    src: font-files("fontello.eot", "fontello.woff", "fontello.ttf", "fontello.svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
}

.icon-temperature:before { content: '\f016'; } /* '' */
.icon-compass:before { content: '\f017'; } /* '' */
.icon-na:before { content: '\f018'; } /* '' */
.icon-celcius:before { content: '\f019'; } /* '' */
.icon-fahrenheit:before { content: '\f020'; } /* '' */
.icon-moon-inv:before { content: '\f023'; } /* '' */
.icon-sunrise:before { content: '\f031'; } /* '' */
.icon-moon:before { content: '\f033'; } /* '' */
.icon-eclipse:before { content: '\f034'; } /* '' */
.icon-wind:before { content: '\f036'; } /* '' */
.icon-snow:before { content: '\f037'; } /* '' */
.icon-cloud-moon:before { content: '\f039'; } /* '' */
.icon-fog:before { content: '\f043'; } /* '' */
.icon-windy:before { content: '\f049'; } /* '' */
.icon-windy-rain:before { content: '\f050'; } /* '' */
.icon-info:before { content: '\f003'; } /* '' */
.icon-left:before { content: '\f064'; } /* '' */
.icon-right:before { content: '\f065'; } /* '' */
.icon-home:before { content: '\f057'; } /* '' */
.icon-sun-alt:before { content: '\f009'; } /* '' */
.icon-layout:before { content: '\f002'; } /* '' */
.icon-flag:before { content: '\f004'; } /* '' */
.icon-ok:before { content: '\f066'; } /* '' */
.icon-cog-alt:before { content: '\f061'; } /* '' */
.icon-cog:before { content: '\f060'; } /* '' */
.icon-share:before { content: '\f063'; } /* '' */
.icon-spin:before { content: '\f069'; } /* '' */
.icon-swim:before { content: '\f058'; } /* '' */
.icon-right-open:before { content: '\f067'; } /* '' */
.icon-left-open:before { content: '\f068'; } /* '' */
.icon-menu:before { content: '\f006'; } /* '' */
.icon-medical-alt:before { content: '\f007'; } /* '' */
.icon-medical:before { content: '\f008'; } /* '' */
.icon-twitter:before { content: '\f059'; } /* '' */
.icon-pictures:before { content: '\f001'; } /* '' */
.icon-calendar:before { content: '\f005'; } /* '' */
.icon-search:before { content: '\f062'; } /* '' */
.icon-rain:before { content: '\f070'; } /* '' */
.icon-uv:before { content: '\f071'; } /* '' */

.icon-weather-11:before { content: '\f032'; } /* '' */
.icon-weather-12:before,
.icon-weather-13:before { content: '\e800'; } /* '' */
.icon-weather-14:before { content: '\f044'; } /* '' */
.icon-weather-15:before,
.icon-weather-16:before,
.icon-weather-17:before { content: '\f055'; } /* '' */
.icon-weather-23:before,
.icon-weather-24:before,
.icon-weather-25:before,
.icon-weather-26:before { content: '\f048'; } /* '' */
.icon-weather-33:before,
.icon-weather-34:before { content: '\e801'; } /* '' */
.icon-weather-35:before,
.icon-weather-36:before { content: '\f053'; } /* '' */
.icon-weather-43:before,
.icon-weather-44:before { content: '\f047'; } /* '' */
.icon-weather-51:before,
.icon-weather-52:before { content: '\f046'; } /* '' */
.icon-weather-53:before,
.icon-weather-54:before,
.icon-weather-61:before,
.icon-weather-62:before,
.icon-weather-63:before,
.icon-weather-64:before { content: '\f021'; } /* '' */
.icon-weather-71:before,
.icon-weather-72:before { content: '\f054'; } /* '' */
.icon-weather-73:before,
.icon-weather-74:before { content: '\e801'; } /* '' */

