//
// TableView
//
$tableview-detail-font-color: $color-dark-blue;
$tableview-border-color:      #eaeaea;

.table-view {
    h5 {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $tableview-border-color;
    }

    ul {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $tableview-border-color;

        a, .a {
            display: block;
            color: $body-font-color;
            border-bottom: 1px solid $tableview-border-color;
            height: $touchable-size;
            line-height: $touchable-size;
            @include ellipsis();

            i {
                float: right;
                color: lighten($body-font-color, 50%);

                &.selected {
                    color: $tableview-detail-font-color;
                }
            }

            .detail {
                float: right;
                margin-right: $half-padding;
                font-size: $small-font-size;
                color: $color-light-text;
            }
        }

        a {
            .detail {
                color: $tableview-detail-font-color;
                font-size: 1em;
            }
        }

        li:last-child a, li:last-child .a {
            border: 0;
        }
    }

    p.explanation {
        margin: $column-gutter $base-padding;
        text-align: center;
        color: $color-dark-blue;
    }
}

.table-view-images {
    .title {
        margin: 0 $base-padding 0 0;
    }

    .icon-right-open {
        font-size: 1.2em;
        float: right;
        color: $color-lightest-text;
        margin: -3px (-$half-padding) $half-padding $half-padding;
    }

    .thumbnail {
        width: 80%;
        @include border-radius(1000px);
        background: transparent none center;
        background-size: contain;
        @include color-alternation('background-color');

        img {
            width: 100%;
        }

        &.featured {
            border: 4px solid $color-yellow;
        }
    }

    .main-td {
        p {
            @include smallest-font();
            margin-top: $half-padding;
            color: $color-light-text;
            padding-left: $base-padding;

            .distance {
                color: $color-lightest-text;
            }

            .tag {
                display: block;
                float: left;
                margin-right: 0.2em;
            }

            [class^="icon-"],
            [class*=" icon-"] {
                float: left;
                margin-left: -($base-padding + 4px);
                margin-right: 1px;
                color: lighten($color-light-text, 5%);

                &.color-blue {
                    color: $color-blue;
                }
            }
        }
    }

    hr {
        margin: $base-padding (-$base-padding);
    }

    div.sort-options {
        @include clearfix();
        @include smallest-font();
        font-style: italic;
        line-height: 32px;
        color: $color-lightest-text;

        .bicon {
            text-align: center;
            display: block;
            background: $action-bar-background-color;
            height: 32px;
            width: 40px;
            line-height: 32px;
            @include border-radius($app-secondary-border-radius);
            font-size: $em-base;
            margin: 0;
            padding: 0;

            &.left-radius {
                @include border-top-right-radius(0);
                @include border-bottom-right-radius(0);
            }

            &.right-radius {
                padding-right: 3px;
                @include border-top-left-radius(0);
                @include border-bottom-left-radius(0);
            }

            &.icon-sort-alphabet {
                padding-right: 3px;
            }

            &.icon-star {
                margin-left: $base-padding;
            }

            &.on {
                background-color: $color-blue;
                color: white;
            }

            &.fav-on {
                background-color: $color-yellow;
                color: white;
            }
        }
    }
}

p.table-view-separator {
    border-bottom: 1px solid $color-blue;
    color: $color-dark-blue;
    padding: $half-padding $base-padding;
    margin: ($base-padding * 1.5) (-$base-padding) $base-padding;
    @include smallest-font();
    text-transform: uppercase;

    &.compress {
        margin-top: 0;
    }
}
