.sub-events-list {
    margin: 0;

    li {
        border-bottom: 1px dotted $hr-border-color;
        padding: ($half-padding * 1.6) 0 ($half-padding * 1.6) $column-gutter;
        margin: 0;
        @include small-font();

        [class^="icon-"],
        [class*=" icon-"] {
            display: block;
            float: left;
            margin-left: -($column-gutter - 3px);
            margin-right: $half-padding;

            &.right {
                font-size: 1.2em;
                margin: 0 0 0 $half-padding;
                float: right;
                color: $color-lightest-text;
            }
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border: 0;
            padding-bottom: 0;
        }

        &.date {
            @include smallest-font();
            text-transform: uppercase;
            background: whitesmoke;
            margin: 0 (-$base-padding);
            padding: $base-padding $base-padding $half-padding;
        }
    }
}