$page-forecast-padding: 10px;
$page-forecast-border-color: $hr-border-color;
$page-today-background-color: #fff;
$page-today-font-color: #333;
$color-temp-min: $color-blue;

.icon-weather-11:before {
    color: $color-yellow;
}

.weather-today {
    padding-top: $base-padding;
    text-align: center;

    &.banner {
        margin-bottom: 0;
        background-color: lighten($color-light-blue, 28%);
    }

    [class^="icon-"],
    [class*=" icon-"] {
        font-size: 6em;
        line-height: 1;
    }
    
    .temperature {
        font-size: 5.2em;
        font-weight: 300;
        margin: 0;
    }
    .temperature-range {
        .max, .min {
            margin: 0;
            padding: 0;
            line-height: 1em;
            font-weight: 300;
        }

        .max {
            font-size: 3.6em;
            margin-top: .25em;
        }
        .min {
            font-size: 1.8em;
            color: $color-temp-min;
        }
    }
}

.weather-forecast {
    margin-left: -$base-padding;
    margin-right: -$base-padding;
    width: auto;

    .column {
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: $app-background $page-forecast-border-color $page-forecast-border-color;
        padding: 0 $page-forecast-padding $page-forecast-padding;
        text-align: center;

        // Color
        @include opacity(0.6);

        .day {
            display: block;
            text-transform: uppercase;
            border-top: $half-padding solid $app-background;
        }

        &:first-child {
            border-left-color: $app-background;
        }

        &:last-child {
            border-right: 1px solid $app-background;
        }

        &.active {
            @include opacity(1);
            background: $page-today-background-color;
            border-top-color: $page-forecast-border-color;
            color: $page-today-font-color;
            border-bottom-color: $page-today-background-color;

            &:first-child {
                border-left-color: $page-forecast-border-color;
            }

            &:last-child {
                border-right-color: $page-forecast-border-color;
            }

            .day {
                font-weight: bold;
                padding-top: $half-padding;
                margin-top: -$half-padding;
                border-color: $color-blue;
            }
        }

        [class^="icon-"],
        [class*=" icon-"] {
            display: block;
            font-size: 2.5em;

            &:before {
                margin-left: 0.15em;
            }
        }

        .temperatures {
            font-size: $small-font-size;

            .min {
                color: $color-temp-min;
            }
        }
    }
}

.weather-periods {
    margin: 0 (-$base-padding) $base-padding (-$base-padding);
    width: auto;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $page-forecast-border-color;
    background: $page-today-background-color;
    padding: $half-padding $base-padding $base-padding;
    color: $page-today-font-color;

    ul {
        li {
            font-size: $small-font-size;
            padding-bottom: 0;
        }

        border-bottom: 1px dotted $page-forecast-border-color;
        padding: $half-padding 0;

        &:last-child {
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

// UV Index

[class^="uv-label-"],
[class*=" uv-label-"] {
    margin: $half-padding 0 $half-padding;
    padding: .3em .5em;
    background-color: #bbb;
}
    .active {
        [class^="uv-label-"],
        [class*=" uv-label-"] {
            background-color: $color-violet;
        }

        .uv-label-1,
        .uv-label-2 {
            background-color: $color-green;
        }
        .uv-label-3,
        .uv-label-4,
        .uv-label-5 {
            background-color: $color-yellow;
        }
        .uv-label-6,
        .uv-label-7 {
            background-color: $color-orange;
        }
        .uv-label-8,
        .uv-label-9,
        .uv-label-10 {
            background-color: $color-red;
        }
    }

[class^="uv-text-"],
[class*=" uv-text-"] {
    border-right: 10px solid $color-violet;
    padding-right: $base-padding;
    margin: $base-padding $half-padding 0 0;
}
    .uv-text-orange {
        border-color: $color-orange;
    }
    .uv-text-red {
        border-color: $color-red;
    }
    .uv-text-violet {
        border-color: $color-violet;
    }
