$page-forecast-padding: 10px;
$page-forecast-border-color: $hr-border-color;
$page-today-background-color: whitesmoke;
$page-today-font-color: #333;
$color-temp-min: $color-light-blue;

.icon-weather-11:before {
    color: $color-yellow;
}

.weather-today {
    padding-bottom: $base-padding;
    text-align: center;

    [class^="icon-"],
    [class*=" icon-"] {
        font-size: 6em;
        line-height: 1.2;
    }
    
    .temperature {
        font-size: 5em;
        font-weight: 300;
        margin: 0;
    }
    .temperature-range {
        .max, .min {
            margin: 0;
            padding: 0;
            line-height: 1em;
            font-weight: 300;
        }

        .max {
            font-size: 3.5em;
            margin-top: .25em;
        }
        .min {
            font-size: 1.8em;
            color: $color-temp-min;
        }
    }
}

.weather-forecast {
    .column {
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: $app-background $page-forecast-border-color $page-forecast-border-color;
        padding: $page-forecast-padding;
        text-align: center;

        &:first-child {
            border-left-color: $app-background;
        }

        &:last-child {
            border-right: 1px solid $app-background;
        }

        &.active {
            background: $page-today-background-color;
            border-top-color: $page-forecast-border-color;
            color: $page-today-font-color;
            border-bottom-color: $page-today-background-color;

            &:first-child {
                border-left-color: $page-forecast-border-color;
            }

            &:last-child {
                border-right-color: $page-forecast-border-color;
            }
        }

        [class^="icon-"],
        [class*=" icon-"] {
            display: block;
            font-size: 2.5em;

            &:before {
                margin-left: 0.15em;
            }
        }

        .temperatures {
            font-size: $small-font-size;

            .min {
                color: $color-temp-min;
            }
        }
    }
}

.weather-periods {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $page-forecast-border-color;
    background: $page-today-background-color;
    padding: $page-forecast-padding;
    color: $page-today-font-color;

    ul {
        li {
            font-size: $small-font-size;
            padding-bottom: 0;
        }

        border-bottom: 1px dotted $page-forecast-border-color;
        padding-bottom: $quarter-padding;
        margin-bottom: $quarter-padding;

        &:last-child {
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

// UV Index

[class^="uv-label-"],
[class*=" uv-label-"] {
    margin: $half-padding 0 $half-padding;
    padding: .3em .5em;
    background-color: $color-violet;
}
    .uv-label-1,
    .uv-label-2 {
        background-color: $color-green;
    }
    .uv-label-3,
    .uv-label-4,
    .uv-label-5 {
        background-color: $color-yellow;
    }
    .uv-label-6,
    .uv-label-7 {
        background-color: $color-orange;
    }
    .uv-label-8,
    .uv-label-9,
    .uv-label-10 {
        background-color: $color-red;
    }

[class^="uv-text-"],
[class*=" uv-text-"] {
    border-right: 10px solid $color-violet;
    padding-right: $base-padding;
    margin: $base-padding $half-padding 0 0;
}
    .uv-text-orange {
        border-color: $color-orange;
    }
    .uv-text-red {
        border-color: $color-red;
    }
    .uv-text-violet {
        border-color: $color-violet;
    }
