//
// Ficha
//

.place-info {
    .location {
        float: right;
        @include smallest-font();
        color: $color-lightest-text;
        margin: $quarter-padding 0 0 $base-padding;
    }
}

//
// Map
//

div.map-container {
    padding: 0;
    
    > div {
        height: 100%;
        width: 100%;

        img {
            max-width: none;
        }
    }
}
