$page-forecast-padding: 10px;
$page-forecast-border-color: $hr-border-color;
$page-today-background-color: #ffe;
$page-today-font-color: #333; 

.weather-today {
    padding-bottom: $base-padding;
    text-align: center;

    [class^="icon-"],
    [class*=" icon-"] {
        font-size: 5em;
    }
    
    .temperature {
        font-size: 5em;
        font-weight: 300;
        margin: 0;
    }
}

.weather-forecast {
    .column {
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: $app-background $page-forecast-border-color $page-forecast-border-color;
        padding: $page-forecast-padding;
        text-align: center;

        &:first-child {
            border-left-color: $app-background;
        }

        &:last-child {
            border-right: 1px solid $app-background;
        }

        &.active {
            background: $page-today-background-color;
            border-top-color: $page-forecast-border-color;
            color: $page-today-font-color;
            border-bottom-color: $page-today-background-color;

            &:first-child {
                border-left-color: $page-forecast-border-color;
            }

            &:last-child {
                border-right-color: $page-forecast-border-color;
            }
        }

        [class^="icon-"],
        [class*=" icon-"] {
            display: block;
            font-size: 2.5em;

            &:before {
                margin-left: 0.15em;
            }
        }

        .temperatures {
            font-size: $small-font-size;

            .min {
                color: $color-lightest-text;
            }
        }
    }
}

.weather-uv {
    .label {
        margin: $base-padding 0 $half-padding;
        padding: .3em .5em;
    }

    [class^="level-"],
    [class*=" level-"] {
        background-color: $color-violet;
    }

    .level-1,
    .level-2 {
        background-color: $color-green;
    }
    .level-3,
    .level-4,
    .level-5 {
        background-color: $color-yellow;
    }
    .level-6,
    .level-7 {
        background-color: $color-orange;
    }
    .level-8,
    .level-9,
    .level-10 {
        background-color: $color-red;
    }
}

.weather-periods {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $page-forecast-border-color;
    background: $page-today-background-color;
    padding: $page-forecast-padding;
    color: $page-today-font-color;

    ul {
        li {
            font-size: $small-font-size;
            padding-bottom: 0;
        }

        border-bottom: 1px dotted $page-forecast-border-color;
        padding-bottom: $quarter-padding;
        margin-bottom: $quarter-padding;

        &:last-child {
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}