//
// Image banner
//

.banner {
    margin: (-($base-padding)) (-($base-padding)) $base-padding;
    height: 198px;
    background: #fafafa none center center no-repeat;
    background-size: cover;

    @media only screen and (min-height: $mobile-height-breakpoint) {
        height: 214px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        height: 300px;
        margin: (-$base-padding) 0 ($column-gutter);
    }
}

//
// Ficha
//

.place-info {
    .location {
        float: right;
        @include smallest-font();
        color: $color-lightest-text;
        margin: $quarter-padding 0 0 $base-padding;
    }
}

//
// Map
//

div.map-container {
    padding: 0;
    
    > div {
        height: 100%;
        width: 100%;

        img {
            max-width: none;
        }
    }
}
