$legacy-support-for-ie:       false;
$experimental-support-for-opera: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;

@import "compass";

$touchable-size:              46px; // Default in iOS: "44px"; Android: "48px"
$tablet-breakpoint:           600px; // Nexus 7

$total-columns:               3;
$block-grid-elements:         5;
$column-gutter:               $touchable-size / 1.5;
$base-padding:                $column-gutter / 2;
$half-padding:                $column-gutter / 4;

$app-border-radius:           0; // Default in iOS 6: "3px";
$app-background:              #fdfdfd;

$action-bar-height:           $touchable-size;
$action-bar-background-color: #eaeaea;
$action-bar-border-size:      0;
$action-bar-border-color:     darken($action-bar-background-color, 15%);
$action-bar-text-color:       #666;
$action-bar-text-size:        20px;
$action-bar-icon-size:        20px;

$drawer-width:                260px; // 320px - 60px
$drawer-background:           #22252c;
$drawer-border-right-color:   #121315;
$drawer-text-color:           #eff0f2;
$drawer-menu-border-color:    darken($drawer-background, 3%);
$drawer-menu-selected:        darken($drawer-background, 5%);

$em-base:                     16px;
$small-font-size:             14px;
$smallest-font-size:          12px;
$body-font-family:            "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-color:             #333;
$body-line-height:            1.4;

$tableview-detail-font-color: #337abd;
$tableview-border-color:      #eaeaea;

//
// Other rules
//

@import "app-foundation";
@import "app-navigation";
@import "app-icons";
@import "app-colors";
@import "phonegap";

//
// Mixins
//

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//
// Typo
//

p, ul {
    margin: 0;
    padding: 0;
    line-height: $body-line-height;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

//
// Layout
//

body {
    background: $drawer-background;
    line-height: $body-line-height;
}

main {
    background: $app-background;
}

div.scroll {
    padding: $base-padding;

    @media only screen and (min-width: $tablet-breakpoint) {
        padding: ($base-padding * 2);
    }
}

//
// Border radius
//

@if $app-border-radius != 0 {
    body,
    main,
    section > div {
        @include border-radius($app-border-radius);
        overflow: hidden;
    }
}

//
// Nice borders when menu is open
//

body.active-menu {
    main {
        border-left: 1px solid $drawer-border-right-color;
        
        section > div:first-child {
            border-left: 1px solid #68696b;
        }
    }
}

//
// Action bar
//

header {
    height: $action-bar-height;
    line-height: $action-bar-height;
    background-color: $action-bar-background-color;
    
    @if $action-bar-border-size != 0 {
        border-bottom: $action-bar-border-size solid $action-bar-border-color;
    }
    
    .title {
        font-size: $action-bar-text-size;
        font-weight: normal;
        line-height: inherit;
        margin: 0 3em 0 0;
        text-align: center;
        color: $action-bar-text-color;
        @include ellipsis();
    }
    
    i {
        background-color: $action-bar-background-color;
        padding: 0 $base-padding;
        font-size: $action-bar-icon-size;
        color: $action-bar-text-color;
    }
}

//
// Drawer
//

ul.drawer {
    background: $drawer-background;
    color: $drawer-text-color;
    
    li {
        height: $touchable-size;
        padding: 0 $base-padding;
        
        a {
            display: block;
            height: $touchable-size;
            line-height: $touchable-size;
            border-bottom: 1px solid $drawer-menu-border-color;
            color: $drawer-text-color;
            @include ellipsis();
            
            [class^="icon-"] {
                margin-right: $base-padding;
                font-size: $em-base;
            }
            
            &.active {
                background: $drawer-menu-selected;
                margin: 0 (-($base-padding));
                padding: 0 $base-padding;
                margin-top: -1px;
                border-top: 1px solid $drawer-menu-border-color;
            }

            &.settings {
                text-transform: uppercase;
                font-size: $smallest-font-size;
                color: lighten($drawer-background, 15%);
            }
        }
    }
}

//
// TableView
//

.table-view {
    ul {
        border-width: 1px 0;
        border-style: solid;
        border-color: $tableview-border-color;
        margin-right: -($base-padding);

        a {
            display: block;
            color: $body-font-color;
            border-bottom: 1px solid $tableview-border-color;
            height: $touchable-size;
            line-height: $touchable-size;
            padding-right: $base-padding;
            @include ellipsis();

            i {
                float: right;
                color: lighten($body-font-color, 50%);

                &.selected {
                    color: $tableview-detail-font-color;
                }
            }

            .detail {
                float: right;
                color: $tableview-detail-font-color;
                margin-right: $half-padding;
            }
        }

        li:last-child a {
            border: 0;
        }
    }
}

//
// Helpers
//

.small {
    font-size: $small-font-size;
}

.smallest {
    font-size: $smallest-font-size;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

@import "dev"; // TODO: delete
